html {
    scroll-behavior: smooth;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #1995ad;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: o auto;
}

header {
    background-color: #a1d6e2;
}

.container-1 {
    display: flex;
    color: #2a3132;
    font-size: 15px;
    padding-left: 10px;
    font-family: "passero";
}

.container {
    display: flex;
    margin-top: 1px;
}

form {
    padding: 50px;
    background-color: #f1f1f2;
    box-shadow: 10px 10px 10px black;
    border-radius: 40px;
    height: 500px;
    width: 563px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

img {
    height: 650px;
    padding-top: 70px;
}

h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

select, input {
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
    font-size: 30px;
    width: 100%;
    
}

select {
    height: 60px;
}


p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
}

#submit {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: #1995ad;
    border-radius: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 400px;
    width: 90%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}


@media (max-width: 600px) {

    body {
        width: min(600px, 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
    }
 
    div {
        display: flex;
        width: min(600px, 100%);
        align-items: center;
        justify-content: center;
        margin: 200px 0 0;
    }

    form {
        width: min(600px, 100%);
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }

    input {
        width: min(600px, 98%);
    }

}

@font-face {
    font-family: "passero";
    src: url(PasseroOne-Regular.ttf);
}